body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1A1F2B;
    background-image: url('/project-root/assets/images/pattern_2000x2000_22.png');
    background-repeat: repeat;
    background-size: 50px 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


header * {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #222933;
    height: 64px;
    border-radius: 0 0 10px 10px;
    user-select: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #222933;
}

header h1 {
    color: #E0E6F0;
    font-size: 18px;
}

nav {
    display: flex;
    gap: 24px;
}

nav a {
    color: #E0E6F0;
    text-decoration: none;
    transition: all 0.3s ease;    
}

nav a:hover {
    color: #60A5FA;
}

main {
    flex: 1;
}



section {
    min-width: 400px;
    width: 600px;
    height: 400px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    background-color: #2A3245;
    border-radius: 20px;
}

section h3 {
    color: #E0E6F0;
    text-align: center;
}

.content_buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    margin: 50 20px;
    
}

.content_buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-width: fit-content;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.Telegram {
    background: linear-gradient(
        135deg,
        #3B82F6,
        #1E40AF
    );
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.Telegram:hover {
    box-shadow: 0 0 10px  #3B82F6;
}
.Telegram:active {
    transform: scale(0.9);
}

.WhatsApp {
    background: linear-gradient(
        135deg,
        #25D366,
        #128C7E
    );
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
}
.WhatsApp:hover {
    box-shadow: 0 0 10px #25D366;
}
.WhatsApp:active {
    transform: scale(0.9);
}

.contact-info {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.contact-info {
    color: #4b546a;
    font-family: monospace;
    font-size: 18px;
}

.response-time {
    text-align: center;
    color: #40485b;
    
    
}


/* ========== ПОДВАЛ СТРАНИЦЫ ⤵ ============= */

footer {
    background-color: #222933;
    height: 48px;
    border-radius: 10px 10px 0 0 ;


    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    color: #4A5568;

}

